/* Navigation Bar */

.navbar {
    background-color: rgb(78, 25, 12);
}

/* Index Pagination */

.page-link {
    color: rgb(78, 25, 12);
}

.active a{
    background-color: rgb(78, 25, 12) !important;
}

/* Cluster Map */

#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 300px;
}

/* Images */

.img-size {
    object-fit: cover;
    width: 100%;
    height: 400px;
}

.img-fluid {
    object-fit: cover;
    width: 100%;
    height: 300px;
}

/* Index Page */

#index-body {
    background-color: rgb(255, 250, 240);
}

.index-map {
    max-height: 40vh;
}

.index-title {
    color: rgb(68, 28, 3);
    text-align: center;
}

#add-btn {
    /* background-color: rgb(141, 61, 42);;
    color: rgba(255, 255, 255, 0.925); */
    font-weight: bold;
    border: none;
}

#add-btn:hover {
    color: rgb(255, 255, 255);
}

#view-btn {
    background-color: rgb(141, 61, 42);
    border: none;
    color: rgba(255, 255, 255, 0.8);
}

#view-btn:hover {
    color: white;
}

/* New Workspot Page */

#new-workspot-h1 {
    color: rgb(68, 28, 3);
}

#add-page-btn {
    width: 100%;
}

/* Show Page */

#leave-review {
    color: rgb(68, 28, 3);
    margin-top: 1rem;
}

#review-label {
    color: white;
}

/* Edit Page */

#edit-workspot {
    color: rgb(68, 28, 3);
}