<% layout('layouts/boilerplate')%>
    <h1>Edit Workspot</h1>
    <form action="/workspots/<%=workspot._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" name="workspot[title]" id="title" value="<%= workspot.title %>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" name="workspot[location]" id="location" value="<%= workspot.location %>">
        </div>
        <button>Update Workspot</button>
    </form>
    <a href="/workspots/<%= workspot._id%>">Back To Workspot</a>
