<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Workspots</title>
</head>

<body>
    <h1>All Workspots</h1>
    <ul>
        <% for (let workspot of allWorkspots) {%>
            <li><a href="/workspots/<%=workspot._id %>"><%= workspot.title %></a></li>
        <% }%>
    </ul>
</body>

</html>