<% layout('layouts/boilerplate')%>
    <form action="/workspots" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" name="workspot[title]" id="title">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" name="workspot[location]" id="location">
        </div>
        <button>Add Workspot</button>
    </form>
    <a href="/workspots">All Workspots</a>
