<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Worksites</title>
</head>

<body>
    <h1>All Worksites</h1>
    <ul>
        <% for (let worksite of allWorksites) {%>
            <li><%= worksite.title %></li>
        <% }%>
    </ul>
</body>

</html>